{% extends 'base.html' %}

{% block title %} Inicio de sesion {% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock  %}

{% block body %}
<form class="form-signin" action="/login" method="POST">
    <img class="mb-4" src="{{url_for('static', filename='img/flask.svg')}}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Inicio de sesi&oacute;n</h1>
    <label for="usuario" class="sr-only">Usuario</label>
    <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuario" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Contrase&nacute;a</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
     
    <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesi&oacute;n</button>
    <p class="mt-5 mb-3 text-muted">© 2023</p>
</form>
{% endblock %}
{% block customJS %}
    <script src="{{url_for('static', filename='js/login.js')}}"></script>
{% endblock  %}